<style>
  .my-para {
    color: blue;
  }

  @keyframes fadeIn {
    to { 
      opacity: 100%;
    }
  }

  .another-para {
    color: red;
  }
</style>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>
</head>
  <body>	
    <p class="my-para">This paragraph is styled with scoped styles</p>
    <p class="another-para">More styles ehre</p>
  </body>
</html>
